dist
/msvc/.vs
/msvc/.vshistory
/msvc/crypto/.vs/crypto
/msvc/crypto/.vshistory
/msvc/crypto/Debug
/msvc/crypto/Release
/msvc/crypto/x64
/msvc/crypto/src.zip
/msvc/define/.vshistory
/msvc/define/Debug
/msvc/define/Release
/msvc/define/x64
/msvc/fileio/.vshistory
/msvc/fileio/Debug
/msvc/fileio/Release
/msvc/fileio/x64
/msvc/fuzzy/.vshistory
/msvc/fuzzy/Debug
/msvc/fuzzy/Release
/msvc/fuzzy/x64
/msvc/ipaddr/.vshistory
/msvc/ipaddr/Debug
/msvc/ipaddr/Release
/msvc/ipaddr/x64
/msvc/math/.vshistory
/msvc/math/Debug
/msvc/math/Release
/msvc/math/x64
/msvc/regexp/.vshistory
/msvc/regexp/Debug
/msvc/regexp/Release
/msvc/regexp/x64
/msvc/stats/.vshistory
/msvc/stats/Debug
/msvc/stats/Release
/msvc/stats/x64
/msvc/text/.vshistory
/msvc/text/Debug
/msvc/text/Release
/msvc/text/x64
/msvc/time/.vshistory
/msvc/time/Debug
/msvc/time/Release
/msvc/time/x64
/msvc/unicode/.vshistory
/msvc/unicode/Debug
/msvc/unicode/Release
/msvc/unicode/x64
/msvc/uuid/.vshistory
/msvc/uuid/Debug
/msvc/uuid/Release
/msvc/uuid/x64
/msvc/vsv/.vshistory
/msvc/vsv/Debug
/msvc/vsv/Release
/msvc/vsv/x64
/src/crypto/.vshistory
/src/ipaddr/.vshistory
/src/shell.c
/src/sqlite3.c
/src/sqlite3.h
/src/sqlite3ext.h
/src/test_windirent.h
/.vshistory
/src/crypto/xxhash.impl.h
